* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1d0200;
}

header {
  display: flex;
  background-color: #BC742C;
  margin: 10px 10px;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  color: #f8ca6a;
  font-family: Trebuchet MS;
  font-weight: bold;
}
header img {
  height: 8%;
  width: 8%;
}
header .minavbar-bg {
  margin: 10px 10px;
  background-color: #BC742C;
  color: #c2c5cc;
}
header .letracolor {
  color: #f3ebe9;
}
header .a-hover {
  color: #f3ebe9;
}
header .a-hover:hover {
  background-color: goldenrod;
}

main {
  display: grid;
  text-align: center;
  justify-content: center;
  align-content: center;
  font-size: smaller;
  letter-spacing: 2px;
  margin: 20px 20px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 5px;
  color: #c2c5cc;
  font-family: Trebuchet MS;
}
main h1 {
  color: #f8ca6a;
}
main img {
  height: 90%;
  width: 90%;
}
main .texto-pp {
  justify-content: center;
  align-content: center;
}
main .boton {
  background-color: #BC742C;
  text-decoration: none;
  color: #f3ebe9;
  padding: 20px 20px;
  display: inline-block;
  font-size: larger;
  font-weight: bold;
}

section {
  display: flex;
  background-color: #BC742C;
  margin: 10px 10px;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  color: #f8ca6a;
  font-family: Trebuchet MS;
  font-weight: bold;
}
section img {
  margin-left: 10px;
  width: 40%;
  height: 40%;
}
section nav ul li {
  gap: 10px;
  list-style: none;
  margin-right: 70px;
  padding-top: 10px;
}
section a {
  color: #f3ebe9;
  text-decoration: none;
}

footer p {
  color: whitesmoke;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 390px) {
  header .img1-header {
    width: 20%;
    height: 20%;
  }
  main .contenedor-pp {
    height: 150vh;
    margin: 10px 10px;
    font-size: small;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  main .contenedor-p1 {
    height: 400vh;
    margin: 50px 20px;
    font-size: medium;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  main .contenedor-p2 {
    height: 150vh;
    margin: 10px 10px;
    font-size: small;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  main .contenedor-p3 {
    height: 150vh;
    margin: 10px 10px;
    font-size: small;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  main .contenedor-p4 {
    height: 80vh;
    margin: 10px 10px;
    font-size: small;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  section .img1-foot {
    margin-left: 20px;
    width: 20%;
    height: 20%;
  }
}
@media screen and (min-width: 768px) {
  header .img1-header {
    width: 20%;
    height: 20%;
  }
  main .contenedor-pp {
    height: 100vh;
    margin: 50px 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 87%);
    font-size: large;
  }
  main .contenedor-p1 {
    height: 200vh;
    margin: 50px 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    font-size: large;
    justify-content: center;
    align-items: center;
  }
  main .contenedor-p2 {
    height: 200vh;
    margin: 30px 30px;
    display: flex;
    font-size: large;
  }
  main .contenedor-p3 {
    height: 150vh;
    margin: 30px 30px;
    display: flex;
    font-size: large;
  }
  main .contenedor-p4 {
    height: 80vh;
    margin: 30px 30px;
    display: flex;
    font-size: large;
  }
  section .img1-foot {
    width: 20%;
    height: 20%;
  }
}
@media screen and (min-width: 1280px) {
  header .img1-header {
    width: 15%;
    height: 15%;
  }
  main .contenedor-pp {
    height: 100vh;
    margin: 50px 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 87%);
    font-size: large;
  }
  main .contenedor-p1 {
    height: 300vh;
    margin: 40px 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    font-size: large;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
  }
  main .contenedor-p2 {
    height: 280vh;
    margin: 40px 50px;
    display: flex;
    font-size: large;
  }
  main .contenedor-p3 {
    height: 200vh;
    margin: 40px 50px;
    display: flex;
    font-size: large;
  }
  main .contenedor-p4 {
    height: 60vh;
    margin: 40px 50px;
    display: flex;
    font-size: large;
  }
  section .img1-foot {
    margin-left: 20px;
    width: 8%;
    height: 8%;
  }
}

/*# sourceMappingURL=styles.css.map */
