//import
@import "html/reset";
@import "html/contenedores";
@import "html/mediaqueries";
@import "utilidades/variables";
@import "utilidades/mixin";

body{
    background-color: $color-fondo;
}

// etiquetas para header
// etiquetas para navbar
header{
    .minavbar-bg{
    margin: $margin-primary;
    background-color: $color-menus;
    }
    .a-hover:hover{
        background-color: $color-secondary;
    }
}

//etiquetas para main
main{
    color: $color-primary;
    @include grid;
    img{
        height: 100%;
        width: 100%;
    }
    h1{
        text-align: center;
        color: $color-primary;
    }
}

//etiquetas para seccion inferior
section{
    @include flex;
    .img1-foot{
        display: flex;
        margin-left: 40px;
        width: 10%;
        height: 10%;       
    }
    nav ul{
        display: flex;
        gap: 10px;
        list-style: none;
        margin-right: 70px;
    }
}

//etiquetas para footer
footer p{
    color: whitesmoke;
    display: flex;
    justify-content: center;
}


