//import
@import "html/reset";
@import "html/contenedores";
@import "html/mediaqueries";
@import "utilidades/variables";
@import "utilidades/mixin";

body{
    background-color: $color-fondo;
}

// etiquetas para header
header{
    img{
        height: 8%;
        width: 8%;
    }
    .minavbar-bg{
        margin: $margin-primary;
        background-color: $color-menus;
        color: $color-primary;
    }
    
    .letracolor{
        color:$color-letramenus;
    }

    .a-hover{
        color:$color-letramenus;
    }
    .a-hover:hover{
        background-color: $color-secondary;
    }
}

//etiquetas para main
main{
    color: $color-primary;
    @include grid;
    img{
        height: 80%;
        width: 80%;
    }
    h1{
        text-align: center;
    }
    p{
        justify-content: center;
        align-content: center;
    }
}

//etiquetas para seccion inferior
section{
    @include flex;
    img{
        margin-left: 10px;
        width: 20%;
        height: 20%;       
    }
    nav ul li{
        gap: 10px;
        list-style: none;
        margin-right: 70px;        
    }
        a{
            color:$color-letramenus;
            text-decoration: none;
        }
}

//etiquetas para footer
footer p{
    color: whitesmoke;
    display: flex;
    justify-content: center;
}


