// Media queries
// Celulares
@media screen and (min-width: 390px){
    header{
        .img1-header{
            width: 20%;
            height: 20%;
        }
    }
    main{
        .contenedor-pp{
            height: 150vh;
            margin: 10px 10px;
            font-size: small;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .contenedor-p1{
            height: 350vh;
            margin: 50px 20px;            
            font-size: medium;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .contenedor-p2{
            height: 150vh;
            margin: 10px 10px;
            font-size: small;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .contenedor-p3{
            height: 150vh;
            margin: 10px 10px;
            font-size: small;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .contenedor-p4{
            height: 80vh;
            margin: 10px 10px;
            font-size: small;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
    section{
        .img1-foot{
            margin-left: 20px;
            width: 20%;
            height: 20%;       
        }
    }
}

// Tablet
@media screen and (min-width: 768px){
    header{
        .img1-header{
            width: 20%;
            height: 20%;
        }
    }
    main{
        .contenedor-pp{
            height: 100vh;
            margin: 50px 50px;
            display: grid;
            grid-template-columns:repeat(2, 1fr) ;
            grid-template-rows: repeat(1, 87%) ;
            font-size: large;
        }
        .contenedor-p1{
            height: 200vh;
            margin: 50px 50px;
            display: grid;
            grid-template-columns:repeat(2, 1fr) ;
            grid-template-rows: repeat(3, 1fr) ;
            font-size: large;
            justify-content: center;
            align-items: center;
        }
        .contenedor-p2{
            height: 200vh;
            margin: 30px 30px;
            display: flex;
            font-size: large;
        }
        .contenedor-p3{
            height: 150vh;
            margin: 30px 30px;
            display: flex;
            font-size: large;
        }
        .contenedor-p4{
            height: 80vh;
            margin: 30px 30px;
            display: flex;
            font-size: large;
        }
    }
    section{
        .img1-foot{
            width: 20%;
            height: 20%;
        }
    }
}

// Desktop
@media screen and (min-width: 1280px){
    header{
        .img1-header{
            width: 15%;
            height: 15%;
        }
    }
    main{
        .contenedor-pp{
            height: 100vh;
            margin: 50px 50px;
            display: grid;
            grid-template-columns:repeat(2, 1fr) ;
            grid-template-rows: repeat(1, 87%) ;
            font-size: large;
        }
        .contenedor-p1{
            height: 300vh;
            margin: 40px 50px;
            display: grid;
            grid-template-columns:repeat(2, 1fr) ;
            grid-template-rows: repeat(3, 1fr) ;
            justify-content: center;
            font-size: large;
            row-gap: 10px;
            justify-content: center;
            align-items: center;
        }
        .contenedor-p2{
            height: 280vh;
            margin: 40px 50px;
            display: flex;
            font-size: large;
        }
        .contenedor-p3{
            height: 200vh;
            margin: 40px 50px;
            display: flex;
            font-size: large;
        }
        .contenedor-p4{
            height: 60vh;
            margin: 40px 50px;
            display: flex;
            font-size: large;
        }
    }
    section{
        .img1-foot{
            margin-left: 20px;
            width: 8%;
            height: 8%;       
        }
    }
}